*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Integral CF Bold';
    src: url('../fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Satoshi Variable';
    src: url('../fonts/Satoshi-Variable.ttf') format('opentype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('opentype');
}

body {
    font-family: 'Integral CF Bold';
}

.main {
    position: relative;
    background-image: url("../images/cover-photo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 663px;
    width: 100%;
    display: flex;
}

.info,
.logos {
    width: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles {
    width: 577px;
}

.titles h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
}

.info p {
    font-size: 16px;
    font-family: 'Satoshi Variable';
    line-height: 22px;
}

.shop-now {
    width: 210px;
    height: 52px;
    background-color: #000000;
    padding: 16px 54px 16px 54px;
    color: white;
    border-radius: 62px;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 30px 0px 30px 0px;
}

.quantity-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Satoshi Variable';
    height: 74px;
}

.quantity-info h1 {
    font-size: 40px;
}

.quantity-info p {
    font-size: 16px;
    opacity: 60%;
}

.divider,
.divider2 {
    width: 1px;
    height: 100%;
    background-color: black;
    opacity: 10%;
}

.star1 {
    position: absolute;
    top: 50%;
}

.star2 {
    position: absolute;
    top: 10%;
    right: 5%;
}

.wrapper {
    width: 100%;
    position: relative;
    height: 122px;
    overflow: hidden;
    background-color: #000000;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: max(calc(200px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.mobile-cover-photo {
    display: none;
}

@media (max-width: 390px) {
    .titles h1 {
        font-size: 36px;
        line-height: 34px;
    }

    .main {
        position: relative;
        background-image: url("../images/mobile-cover.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 853px;
        display: block;
    }

    .info {
        height: 405px;
    }

    .info,
    .logos {
        height: 50%;
        width: 390px;
    }

    .mobile {
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titles {
        width: 90%;
    }

    .info p {
        font-size: 14px;
        line-height: 20px;
    }

    .shop-now {
        width: 358px;
    }

    .logos {
        position: relative;
    }

    .quantity-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 278px;
        z-index: 4;
    }

    .quantity-info>div:nth-child(5) {
        margin-top: 5px;
    }

    .quantity-info h1 {
        font-size: 24px;
    }

    .divider {
        height: 52px;
    }

    .divider2 {
        display: none;
    }

    .quantity-info p {
        font-size: 12px;
        opacity: 60%;
    }

    .mobile-cover-photo {
        display: flex;
        z-index: 2;
    }

    .star1,
    .star2 {
        z-index: 3;
    }

    .wrapper {
        height: 146px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 25px 15px 0px 15px;
    }

    .item {
        animation: none;
        position: static;
        transform: none;
        height: 40px;
    }
    .item img {
        height: 25px; /* or whatever smaller size you want */
        width: auto;
    }
}