*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Integral CF Bold';
    src: url('../fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
}

@font-face {
    font-family: 'Satoshi Variable';
    src: url('../fonts/Satoshi-Variable.ttf') format('opentype');
}

body {
    font-family: 'Integral CF Bold';
}

.main {
    position: relative;
    background-image: url("../images/cover-photo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 663px;
    width: 100%;
    display: flex;
}

.info,
.logos {
    width: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles {
    width: 577px;
}

.titles h1 {
    font-size: 64px;
    line-height: 64px;
}

.info p {
    font-size: 16px;
    font-family: 'Satoshi Variable';
    line-height: 22px;
}

.shop-now {
    width: 210px;
    height: 52px;
    background-color: #000000;
    padding: 16px 54px 16px 54px;
    color: white;
    border-radius: 62px;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 30px 0px 30px 0px;
}

.quantity-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Satoshi Variable';
    height: 74px;
}

.quantity-info h1 {
    font-size: 40px;
}

.quantity-info p {
    font-size: 16px;
    opacity: 60%;
}

.divider {
    width: 1px;
    height: 100%;
    background-color: black;
    opacity: 10%;
}

.star1 {
    position: absolute;
    top: 50%;
}

.star2 {
    position: absolute;
    top: 10%;
    right: 5%;
}

.wrapper {
    width: 100%;
    position: relative;
    height: 122px;
    overflow: hidden;
    background-color: #000000;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: max(calc(200px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.new-arrivals,
.top-selling {
    margin-top: 80px;
    text-align: center;
}

.new-arrivals h1,
.top-selling h1 {
    font-size: 48px;
    line-height: 100%;
}

.divider2 {
    width: 1124px;
    height: 1px;
    background-color: black;
    opacity: 10%;
    margin: auto;
}